.main-info {
    color: #fff;
    padding: 3.75rem 0 1rem  ;
    /* background-color: rgba(50, 50, 65, 0.88); */
}

.main-info h1 {
    font-weight: 800;
}

.main-info-banner {
    width: 98%;
    padding: 3.6rem;
    background:linear-gradient(159deg, #2d2d3ada 0%, #2b2b35cb 100%); 
    
}



@media (max-width: 1032px) {
    .main-info{
      text-align: center;
    }
    .main-info h1 {
        font-size: 3rem;
        font-weight: 800;
    }
  }
  

@media (max-width: 1020px) {
    .main-info{
      padding-right: 0.9rem;
    }
    
}

@media (max-width: 685px) {
    .main-info{
        padding: 1.5rem 0 0 0 ;
    }
    .main-info-banner{
        padding: 1.75rem 1rem;
    }
    .main-info-banner h1 {
        font-size: 2rem;
    }   
}

@media (max-width: 520px) {
    .main-info{
        padding: 0.5rem;
    }
    .main-info-banner{
        width: 100%;
        padding: 1rem;
    }
  }
