.container {
    margin-bottom: 25px;
    font-size: 1.1rem;
    font-weight: 500;
}

.container b{
    color: rgb(233, 171, 14);
    font-weight: 500;
    
}

.container {
    span {
        color: #fff;
    }
}

@media (max-width: 702px) {
    .container {
        padding: 0;
    }
    .container span {
        font-size: 0.8rem;
        font-weight: 600;
    }
  }
