.progress-loading-bar {
  
    text-align: center;
}



progress {
    border-radius: 2px; 
    width: 18%;
    height: 0.25rem;
    
  }
  progress::-webkit-progress-bar {
    background-color: rgb(26, 26, 24);
    border-radius: 7px;
  }
  progress::-webkit-progress-value {
    background-color: #ffc107;
    border-radius: 7px;
   
  }