.summary {
    color: #fff;
    padding:0 1rem 2rem 2rem ;
}

.summary-container {
    background-color:rgba(44,44,56,255) ;
    margin: 0;
    padding: 2rem;
    
}


.summary-nav{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0 1rem ;
    background-color: rgba(44,44,56,255);
    align-items: center;
    padding: 0.25rem 1rem;
}

.summary-nav h3 {
    font-size: 1.5rem;
    padding: 0.25rem;
}

.summary-section-intro {
    font-size: 1.1rem;
    font-weight: 400;
    /* font-style: italic; */
}

.summary-sectionn-tool-skills{
    margin-top: 1rem;
    font-size: 0.9rem;
    font-weight: 400;
    color: #a5a5a7;

}

.container li {
    font-size: 0.85rem;
    font-weight: 400;
}

.container li::marker {
    color:#ffc107;
}




.summary-section-objective {
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 1rem;
    color:#a6a6aa;
}

@media only screen and  (max-width: 1046px) {
    .summary {
        padding: 0;
        padding-bottom: 1rem;
    }
    .summary-container {
        width: 100%;
    }
    .summary-nav {
        width: 97%;
        margin-top: 2rem;
    }
}